Data Types and Structures Questions

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data efficiently. They are important because they help manage data for optimal access and modification, making algorithms more efficient and improving program performance.



2. Explain the difference between mutable and immutable data types with examples.

Mutable types can be changed after creation (e.g., lists: my_list[0] = 5). Immutable types cannot be changed once created (e.g., strings: "hello"[0] = 'H' causes an error).




3. What are the main differences between lists and tuples in Python?

Lists are mutable and can be modified; tuples are immutable. Lists use square brackets [], while tuples use parentheses (). Tuples are slightly faster and are used when data shouldn’t change.






4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs using a hash table under the hood. Each key is hashed to determine where its value is stored in memory.

5. Why might you use a set instead of a list in Python?

Sets automatically remove duplicates and offer faster membership checks (in) compared to lists, making them ideal for unique items and fast lookups.

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters and is immutable. A list is a sequence of elements (any type) and is mutable.

7. How do tuples ensure data integrity in Python?

Since tuples are immutable, their contents cannot be changed, ensuring that the data remains constant and unaltered, which is useful in secure or fixed datasets.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to allow fast access, insertion, and deletion.

9. Can lists contain different data types in Python?

Yes, Python lists can hold elements of different types (e.g., ["apple", 10, True]), thanks to Python’s dynamic typing.

10. Explain why strings are immutable in Python?

Strings are immutable to improve performance and security. Since they can’t be changed, they are hashable and can be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries allow fast lookups using keys, unlike lists which require searching by index or iterating. This makes dictionaries better for data with meaningful labels.

12. Describe a scenario where using a tuple would be preferable over a list.

When storing fixed configuration data (like (latitude, longitude)) that shouldn’t change, tuples are preferred to prevent accidental modifications.

13. How do sets handle duplicate values in Python?

Sets automatically discard duplicates. Adding a duplicate element has no effect.

14. How does the “in” keyword work differently for lists and dictionaries?

In lists, 'in' checks if an element exists. In dictionaries, 'in' checks for the presence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable, meaning once created, their elements cannot be modified. This ensures consistency.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary within a dictionary. Example use case: storing student records by ID: {"101": {"name": "Alice", "marks": 90}}

17. Describe the time complexity of accessing elements in a dictionary.

Accessing an element by key in a dictionary has average time complexity of O(1) due to hash table implementation.

18. In what situations are lists preferred over dictionaries?

Lists are preferred when order matters or when storing sequences of items without specific labels, like a queue of tasks.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Before Python 3.7, dictionaries didn’t maintain insertion order. Now they do, but conceptually, data is accessed by key, not position, affecting how you retrieve values.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists retrieve data by index (position), while dictionaries retrieve data by key (label). This makes dictionaries better for labeled data access.


1.   List item
2.   List item



---

**Practical Questions**

1. Write a code to create a string with your name and print it

In [2]:
name = "vidya"
print(name)

vidya

2. Write a code to find the length of the string "Hello World"

In [3]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to **uppercase**

In [5]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
t = (10, 20, 5, 15)
print(min(t))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
d = {'name': 'John', 'age': 25}
d['country'] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [28]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[64, 69, 71, 78, 91]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
str_list = ["one", "two", "three", "four", "five"]
print(str_list[3])

four

29. Write a code to combine two dictionaries into one and print the result.

In [30]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
merged = {**d1, **d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [31]:
words = ["apple", "banana", "apple"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana'}